In [1]:
import pandas as pd

In [2]:
df_languages = pd.DataFrame(
    data={
        'language': ['Python', 'JavaScript', 'C++', 'Java', 'Rust'],
        'year_when_created': [1991, 1995, 1985, 1995, 2010],
        'category': ['interpreted', 'interpreted', 'compiled', 'compiled', 'compiled'],
    },
    index=['a', 'b', 'c', 'd', 'e'],
)

df_languages

     language  year_when_created     category
a      Python               1991  interpreted
b  JavaScript               1995  interpreted
c         C++               1985     compiled
d        Java               1995     compiled
e        Rust               2010     compiled

In [3]:
def process_df_1(df):
    df_compiled_languages = df.loc[df['category'] == 'compiled'].copy()
    
    language_2_count = (
        df_compiled_languages
        .groupby('language')
        .size()
        .to_dict()
    )
    for l, c in language_2_count.items():
        print(
            f"# of appearances of '{l}': {c}".format(
                {'l': l, 'c': c}
            )
        )
    
    df_compiled_languages['category'] = df_compiled_languages['category'].map(
        lambda s: s.upper()
    )
    
    return pd.concat([df, df_compiled_languages])

process_df_1(df_languages)

# of appearances of 'C++': 1
# of appearances of 'Java': 1
# of appearances of 'Rust': 1

     language  year_when_created     category
a      Python               1991  interpreted
b  JavaScript               1995  interpreted
c         C++               1985     compiled
d        Java               1995     compiled
e        Rust               2010     compiled
c         C++               1985     COMPILED
d        Java               1995     COMPILED
e        Rust               2010     COMPILED

In [4]:
def process_df_2(df):
    
    def _print_rows_that_are_to_be_copied(df_rows):
        language_2_count = (
            df_rows
            .groupby('language')
            .size()
            .to_dict()
        )
        for l, c in language_2_count.items():
            print(
                f"# of appearances of '{l}': {c}".format(
                    {'l': l, 'c': c}
                )
            )
        return df_rows
    
    df_compiled_languages = (
        df.loc[df['category'] == 'compiled']
        .pipe(_print_rows_that_are_to_be_copied)
        .assign(category=lambda df: df['category'].map(lambda s: s.upper()))
    )
    
    return pd.concat([df, df_compiled_languages])

process_df_2(df_languages)

# of appearances of 'C++': 1
# of appearances of 'Java': 1
# of appearances of 'Rust': 1

     language  year_when_created     category
a      Python               1991  interpreted
b  JavaScript               1995  interpreted
c         C++               1985     compiled
d        Java               1995     compiled
e        Rust               2010     compiled
c         C++               1985     COMPILED
d        Java               1995     COMPILED
e        Rust               2010     COMPILED

In [5]:
df_1 = process_df_1(df_languages)
df_2 = process_df_2(df_languages)

# of appearances of 'C++': 1
# of appearances of 'Java': 1
# of appearances of 'Rust': 1
# of appearances of 'C++': 1
# of appearances of 'Java': 1
# of appearances of 'Rust': 1

In [6]:
df_1.equals(df_2)

True

In [7]:
pd.testing.assert_frame_equal(df_1, df_2)